:root {
  --dashboardBg: black;
  --navColor: #D04848;
  --widgetColor: #F3B95F;
}

body {
  margin: 0;
  font-family: monospace;

}

.dashboard {
  background: var(--dashboardBg);
  display: grid;
  min-block-size: 100dvh;
  grid-template-areas:
    "sidebar"
    "dashboard"
    ;
  grid-template-rows: 1.5rem 1fr;
}

aside {
  background: var(--navColor);
  grid-area: sidebar;
}

aside > nav {
  height: 100%;
}

aside > nav > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-move {
  transition: all 0.5s ease;
}

/*************
 * Dashboard *
 *************/
.dashboard .main-area {
  block-size: 100%;
  grid-area: dashboard;

  display: grid;
  grid-template-columns: subgrid;
}

.dashboard .main-area > ul {
  display: grid;
  grid-template-columns: subgrid;
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget {
  background-color: var(--widgetColor);
  border: 1px solid var(--navColor);
  margin-block-start: 1rem;
}

.widget.active {
  animation: shake 0.2s;
}

.widget header {
  background: var(--navColor);
  margin: 0;
  padding: 1rem;
  display: flex;
  line-height: 1.5rem;
  justify-content: space-between;
}

.widget header h2 {
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.widget .toggle-maximize {
  display: none;
}

.widget .toggle-maximize {
  border: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;

  /* Maximize */
  background: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2222%22 height=%2222%22%3E %3Cpath d=%22M8.313 0c-.102 0-.188.144-.188.344v3.781c0 .2.086.375.188.375h5.124L4 13.938v-5.97c0-.104-.135-.187-.313-.187H.313c-.178 0-.313.083-.313.188v13.437c0 .2.086.375.188.375h12.624c.102 0 .188-.175.188-.375v-3.781c0-.2-.086-.344-.188-.344H7L17.125 7.188v6.593c0 .11.166.219.344.219h3.343c.178 0 .313-.11.313-.219V.187c0-.012-.027-.019-.031-.03-.005-.016.01-.05 0-.063-.019-.037-.038-.045-.063-.063-.008-.005-.022.005-.031 0C20.987.025 20.983 0 20.969 0H8.312z%22/%3E %3C/svg%3E") no-repeat;
}

.maximized .toggle-maximize {
  /* Close / Unmaximize */
  background: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2223%22 height=%2223%22 viewBox=%220 0 23 23%22%3E %3Cpath d=%22M19.65 0a.436.436 0 0 0-.282.125l-8.031 8L3.493.282C3.336.125 3.103.109 2.962.25L.274 2.938c-.14.141-.125.375.032.531l7.843 7.844-8.021 8.021c-.157.157-.172.422-.031.563l2.687 2.656c.141.141.375.126.532-.031l8.02-8.021 8.21 8.208c.156.157.39.173.531.032l2.688-2.688c.14-.14.125-.374-.032-.531l-8.209-8.209 8.032-8.031c.156-.157.172-.39.03-.531L19.9.094a.311.311 0 0 0-.25-.093z%22/%3E %3C/svg%3E")
}

.widget img {
  inline-size: 100%;
}

.widget .weather {
  border: 0;
  inline-size: 100%;
}

.color-background {
  left: -25dvw;
    position: fixed;
    height: 100dvh;
    background: var(--navColor);
    width: calc((100dvw - 3rem) / 4);
    /*
  transition: left 0.5s ease;
  */
}

.sidebar-item {
    font-size: 4dvw; /* Responsive typography, yeah */
}

@media (min-width: 50rem) {
  .dashboard {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas: "sidebar dashboard dashboard dashboard";
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  .sidebar-item-container {
    height: 100%;
  }

  .sidebar-item {
    inline-size: 100%;
    block-size: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .sidebar-item span {
    margin-inline: 0;
    padding-inline: 0.5rem;
  }

  @media (hover: hover) {
    .dashboard {
      grid-template-columns: minmax(2rem, 0.1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      transition: grid-template-columns 0.2s ease;
    }

    .aside-hover, .has-maximized {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }

    .sidebar-item:hover {
      text-decoration: underline;
      text-shadow: 0 0 2px;
    }

    /* This span is used to limit the text width while keeping the anchor at full width */
    .sidebar-item span {
      transition: inline-size 0.5s ease,
      padding-inline 0.5s ease;
      inline-size: 1rem; /* FIXME: This only works by accident */
      margin-inline: auto;
      padding-inline: 0;
      overflow: hidden;
    }

    .aside-hover .sidebar-item span {
      inline-size: 100%;
      margin-inline: auto;
      padding-inline: 0.5rem;
    }
  }

  .dashboard .main-area {
    grid-template-columns: subgrid;
    grid-column: 2 / 5;
  }

  .dashboard .main-area > ul {
    grid-template-columns: subgrid;
    grid-column: 1 / 4;
    margin: 0 1rem 1rem 0;
  }

  aside {
    align-self: initial;
  }

  aside > nav > ul {
    flex-direction: column;
  }

  .widget .toggle-maximize {
    display: initial;
  }

  .has-maximized aside {
    display: none;
  }

  .has-maximized .main-area {
    grid-column: 1 / 5;
  }

  .has-maximized .main-area > ul {
    grid-column: 1 / 5;
    background: transparent;
    z-index: 1;
  }

  .has-maximized .widget:not(.maximized) {
    background: var(--navColor);
    border: 0;
  }

  .has-maximized .maximized {
    grid-column: 2 / 5;
    grid-row: 1 / 4; /* FIXME: Hardcoded widget count */
  }

  .has-maximized .color-background {
    left: 0;
    display: initial;
  }
}

/* Copied from https://github.com/elrumordelaluz/csshake */
@keyframes shake {
  8% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg);
  }
  16% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
  }
  24% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
  }
  32% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg);
  }
  40% {
    transform: translate(-0.5px, 1.5px) rotate(1.5deg);
  }
  48% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  52% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg);
  }
  64% {
    transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
  }
  72% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  80% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  88% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  96% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
